.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px 100px;

  /* SHORTHAND 
  grid-template: row / column;
  grid-template: 100px 100px 100px / 200px 200px 200px; 
  */

  /* !Adding gaps only inside! */

  grid-column-gap: 2rem;
  grid-row-gap: 1rem;

  /* SHORTHAND
  grid-gap: row / column;
  grid-gap: 1rem / 2rem;
  */

}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
  
  grid-column-start: 2;
  grid-column-end: 4;

   /* SHORTHAND 
  grid-column: start / end;
  grid-column: 2 / 4; 
  */

  grid-row-start: 1;
  grid-row-end: 3;

   /* SHORTHAND 
  grid-row: start / end;
  grid-row: 1 / 3; 
  */
}

/* GRID ITEMS CAN OVERLAP EACH OTHER IF IT'S EXPLICITELY TOLD*/

.one {
  grid-column: 1 / 4;   /* grid-column: 1 / span 3; */
  grid-row: 1 / 3;
}

.two {
  background: #FF5670;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

/* GRID == FLEX? */

.grid-flex {
  display: grid;
  grid-template-columns: 150px 150px 200px;

  /* justify-items: center; */
  /* align-items: center; */
}

.big {
  padding: 3rem 2rem;
  background-color: #FF5670;
}

.start {
  align-self: start;
  justify-self: start;
}

.end {
  align-self: end;
  justify-self: end;
}

/* EXPLICITE X IMPLICITE */

.grid-expl-impl {
  display: grid;
  /* this is explicite*/
  grid-template-rows: 50px 100px 200px;
  grid-template-columns: 300px 500px;

  /* 
  implicite rows and columns are default to auto,
  values of auto can be set for rows and columns
  */
  grid-auto-rows: 500px;
  grid-auto-columns: 150px;

}

.implicite {
  background-color: lightblue;
  padding: 3rem 2rem;
  grid-column: 4/5; /* this is implicite*/
  
}